:root {
    --primary: #00a6fbff;
    --primary-light: #33bafcff;
    --primary-dark: #007ec1ff;
    --secondary: #0582caff;
    --secondary-light: #3ca2e0ff;
    --secondary-dark: #005b8fff;
    --accent: #fbbf24ff;
    --background: #f4faffff;
    --surface: #e6f4fbff;
    --error: #ff4d4fff;
    --on-primary: #ffffff;
    --on-secondary: #ffffff;
    --on-accent: #051923ff;
    --on-background: #051923ff;
    --on-surface: #003554ff;
    --on-error: #ffffff;
  }
  