.container {
  display: grid;
  grid-template-areas:
    "header1 header1 header1"
    "aside1 header2 aside2"
    "aside1 main aside2"
    "aside1 footer1 aside2"
    "footer2 footer2 aside2";

  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 10rem 5rem auto 10rem 15rem;

  @media (max-width: 1200px) {
    grid-template-areas:
      "header1 header1"
      "aside1 header2"
      "aside1 main"
      "footer1 footer1"
      "footer2 footer2";

    grid-template-columns: 1fr 3fr;

    @media (max-width: 768px) {
      grid-template-areas:
        "header1"
        "main"
        "footer2";

      grid-template-rows: 10rem auto 10rem;
      grid-template-columns: 1fr;
    }
  }
}

.header1 {
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header1;
  background-color: red;
}

.header2 {
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header2;
  background-color: var(--primary-dark);

  @media (max-width: 768px) {
    display: none;
  }
}

.aside1 {
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: aside1;
  background-color: yellow;
  @media (max-width: 768px) {
    display: none;
  }
}

.aside2 {
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: aside2;
  background-color: yellow;

  @media (max-width: 1200px) {
    display: none;
  }
}

.footer1 {
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer1;
  background-color: lightgreen;

  @media (max-width: 768px) {
    display: none;
  }
}

.footer2 {
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer2;
  background-color: pink;
}

.main {
}

.grid {
  padding: 3rem;
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(30rem, 1fr)
  ); /* distribui o grid automaticamente 
    Esse comando é muito bom*/
  grid-template-rows: repeat(auto-fit, mincontent(30rem, 1fr));

  /*grid-template-columns: repeat((3, 1fr)) distribui o grid
    automaticamente em 3 colunas, 1fr --> calcula a distribuição*/
}

.card {
  background-color: var(--secondary);
  border-radius: 1rem;
  color: var(--on-surface);
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--primary-light);
  font-size: 3rem;
  text-align: center;
  height: 20rem;
}
